body
{
	background-color:#FFFFFF;
	font-family:verdana,arial,sans-serif;
}

#course-history-box
{
	min-height: 510px;
}

#submitButton
{
	padding: 10px;
}

#suggestion-box
{
	background-color:#AAAAAA;
	width:100%;
	height:150px;
	overflow:auto;
	overflow-x:hidden;
}
